/*Fonts*/
.ibm-plex-mono-regular{
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

.ibm-plex-mono-semibold {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 600;
    font-style: normal;
}
.funnel-sans-500 {
    font-family: "Funnel Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

/*Fonts end*/

.md-header{
    border-bottom: 1px #8a8a8a solid ;
}

.md-code{
    display: flex;
    justify-content: space-between;
    background-color: #2e2e3e;
    border-radius: 5px;
}
.md-code pre{
    overflow: auto;
    position: relative;
    float: left;
    padding: 1rem;
    margin: 0;
}
.md-code .md-copy{
    position: relative;
    box-sizing: border-box;
    margin: 0.4rem;
    display: block;
    float: right;
    padding: 0.3rem;
    border-radius: 15%;
}

.md-code .md-copy:hover{
    background-color: #4a4a63;
}
