/*Fonts*/
.agdasima-regular {
    font-family: "Agdasima", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.agdasima-bold {
    font-family: "Agdasima", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.monsieur-la-doulaise-regular {
    font-family: "Monsieur La Doulaise", cursive;
    font-weight: 400;
    font-style: normal;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,                     /*https://developers.google.com/fonts/docs/material_symbols*/
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  user-select: none;
}

.fill{
    font-variation-settings: 'FILL' 1;
    color: white; 
    background-color: black;
}

@media screen and (max-height: 20cm) {
    .header h1{
        background-color: orange;
        text-align: center;
        color: white;
        font-size: 300%;
    }
}
* {
    box-sizing: border-box;
}

body{
    margin: 0;
}

.header{
    padding: 1.5%;
    background-color: #ffa500;
    text-align: center;
    color: white;
}


.header h1{
    background-color: orange;
    text-align: center;
    color: white;
    font-size: 400%;
}

.navbar{
    display: block;
    overflow: hidden;
    padding: 0;
    margin: 0;
    background-color: #EDEC6F;
    color: black;
}


.navbar span{
    float: left;
    text-align: center;
    color: black;
    text-decoration: none;
    padding: 10px 16px;
    margin: 0;
    text-decoration: none;
}

.navbar span.right{
    float: right;
    text-align: center;
    padding: 10px 16px;
    margin: 0;
    text-decoration: none;
}